.offer {
    width: 80px;
    height: 20px;
    display: flex;
    color: white;
    margin-top: 5px;
    border-radius: 10px;
    background-color: #FD3D00;
    p { 
        margin: auto;
        font-size: 13px;
    }
}