.checked-rd { 
    mat-radio-button { 
        background: rgba(253, 60, 1, 0.07);
        .option { 
            p, img { 
                color: rgb(253, 60, 1) !important;
            }
        }
    }
}

mat-radio-group { 
    width: 100%;
    display: flex;
    justify-content: flex-start;    
    flex-wrap: wrap;
    align-content: center;
    mat-radio-button { 
        margin: 8px;
        width: 220px; 
        ::ng-deep .mat-radio-label-content {
            width: 100%;
            display: flex;
            .option { 
                width: 100%;
                margin: 4px;
                display: flex;
                justify-content: space-between;
                .sub-option {
                    display: flex;
                    align-items: center;
                    img { 
                        padding: 12px 6px;
                    }
                    p { 
                        margin: auto 0;
                        padding: 0 6px;
                        font-family: Arial;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        color: #656565;
                        line-height: 21px;
                        background: transparent;
                    }
                }
                .icon {
                    width: 10px;
                    height: 10px;
                    font-size: 12px;
                    margin: auto 10px;
                    color: rgba(253, 60, 1, 1);
                }
            

            }
        
        }
    }

}

::ng-deep { 
    span.mat-radio-container { 
        display: none;
    }
}

@media screen and (max-width: 1000px) { 
    mat-radio-group { 
        flex-wrap: nowrap;
        mat-radio-button { 
            width: 100% !important;
        }
    }
}

@media screen and (max-width: 600px) { 
    // .rd-btn:nth-child(1) { 
    //     width: 20%;
    // }
    // .rd-btn:nth-child(2) { 
    //     width: 20%;
    // }
    // .rd-btn:nth-child(3) { 
    //     width: 25%;
    // }
    .rd-btn { 
        width: calc(70% / 3);
    }

    .rd-btn:nth-child(4) { 
        width: 30% !important;
    }


    .option { 
        .sub-option {
            flex-wrap: wrap;
            justify-content: center;
            p { 
                width: 100%;
                text-align: center;
                padding: 0 !important;
            }
        }
        .icon {
            margin: 0 !important;
        }
    }
}